<div class="panel panel-left" style="display: block;">
	<br>
	<ul class="nav docs-navbar-menu">
		<li><a class="brand" href="index.html">Project Name</a></li>
		<li class="active"><a href="#">About</a></li>
		<li class=""><a href="#">Contact</a></li>
	</ul>
	<form action="" method="get" accept-charset="utf-8"
		class="navbar-form pull-right search-navbar-form">
		<div class="form-fields">
			<input type="text" name="" id="" value="" placeholder="Search"
				class="">
		</div>
		<input type="submit" name="" id="" value="Search" class="btn btn-info">
	</form>
</div>