<div class="scheduler_wrapper" style="display: block;">
	
	<div id="scheduler_AppBody" >
			<!-- This is static header, it will be shown always -->
			<div id="scheduler_header" >
				<h3>daily Scheduler</h3>
			</div>
			
			<!-- This is a placeholder for dynamic page content -->
			<div id="scheduler_pagePort" class="row">
			schedulerView 2013-12-19
			</div>
			
			
			<div id="scheduler_footer" >
			<ul class="btn-group btn-group-square">
			   <li><a href="#" class="btn btn-funky">입력</a></li>
			   <li><a href="#" class="btn btn-funky">수정</a></li>
			   <li><a href="#" class="btn btn-funky">삭제</a></li>
			</ul>	
			</div>
		</div>
</div>