<div class="scheduler_wrapper" style="display: block;">
	
	<div class="scheduler_AppBody" >
			<!-- This is static header, it will be shown always -->
			<div class="addscheduler_header" >
				<a href="#" class="btn btn-danger btn_inputCancelsc">Cancel</a>
				<h4>New Event</h4>
				<a href="#" class="btn btn-danger btn_inputAddsc">Add</a>
			</div>
			
			<!-- This is a placeholder for dynamic page content -->
			<div  class="row scheduler_pagePort">
				<div class="myscheduler_wrapper">
					
					
				</div>	
				<!-- myscheduler_wrapper end -->
			</div>
			
			 <script type="text/template" id="schedulerListTemplate">
      			  <span><%= title %></span><button class="edit">Edit</button>
				  <button class="delete">Delete</button>
   			 </script>
			
</div>