<div class="scheduler_wrapper" style="display: block;">
	
	<div class="scheduler_AppBody" >
			
			
			<!-- This is static header, it will be shown always -->
			<div class="scheduler_header" >
			
				<h4>New Event</h4>
			
			</div> <!--  end of scheduler_header -->
			
			<!-- This is a placeholder for dynamic page content -->
			<div  class="scheduler_pagePort">
				<div class="addscheduler_wrapper">
				<i class="icon-user"></i> user                
				<input type="text" placeholder="A text input" name="username" class="input-block username">           
				<i class="icon-heart"></i> category
				<select class="as_categoryfield" id="as_categoryfield">
				  <option value="workoutside">외근</option>
				  <option value="dayoff">휴가</option>
				  <option value="longproject">장기 프로젝트</option>
				</select>								
				<i class="icon-comment"></i> event
				<input type="text" placeholder="A text input" class="input-block sc_addevent">
				
					<p>생년월일: <input type="text" id="datepicker1"></p>
				
				<i class="icon-calendar"></i> start date
				<input  type="date"  min="2014-01-01" max="2014-12-31"value="2014-01-03" class="scheduler_calendar">
			
				<i class="icon-calendar"></i >end date
				<input  type="date" min="2014-01-01" max="2014-12-31"value="2014-01-03"  class="scheduler_calendar">
					 	<label id="addschedulerElapsedTime" class="text-center" style="font-size: 12px" />
					  
				<label> Date <input type="text"  data-datepicker class="picka_one" /></label>

					   <input id="input_from" class="datepicker" type="date" name="date" value="2:30 AM" data-valuee="01:30" autofocus>
					
					<div class="bottom_beforediv">
																
					</div>				
				</div>	<!-- myscheduler_wrapper end -->
			</div> <!--  scheduler_pagePort end -->
   			
   			
   			 <div class="scheduler_footer" id="addscheduler_footer">
				<div class="footer_btngroup">
					<div class="footerlayout_center">
						<ul class="btn-group btn-group-square">
					   <li><a href="#" class="btn btn-success btn_inputCancelsc">Cancel</a></li>
					   <li><a href="#" class="btn btn-success btn_addschedulerbtn">Add</a></li>
					   </ul>
					<!-- need to full btn group size of line ..50 vs 50-->
						<!-- a href="#" class="btn btn-success btn_inputCancelsc">Cancel</a>
						<a href="#" class="btn btn-success btn_addschedulerbtn">Add</a-->
					<!-- ul class="btn-group btn-group-square">
					   <li><a href="#" class="btn btn-success btn_inputScheduler">입력</a></li>
					   <li><a href="#" class="btn btn-success  btn_modifyScheduler">수정</a></li>
					   <li><a href="#" class="btn btn-success  btn_deleteScheduler">삭제</a></li>
					</ul-->	
						</div>  <!--  end of footerlayout_center -->
				</div> <!--  end of footer_btngroup -->
			</div> <!--  end of scheduler_footer -->
				
				
			
			</div>  <!--  end of scheduler_AppBody -->
			
			
			
</div> <!--  end of scheduler_wrapper -->