<div>
	<div
		style="position: absolute; left: 10px; color: white; float: left; font-size: 44px;"
		id="back_contactList">
		<i class="icon-circle-arrow-left" />
	</div>
	<div
		style="position: absolute; right: 10px; color: white; float: left; font-size: 44px;"
		>
		<i class="icon-plus-sign icon-contactAdd-click" id="contactAdd_icon" />
	</div>
	<div>
		<h1
			style="text-align: center; margin-top: 7px; font-family: 'NanumGothicBold'; font-size: 40px;">연락처</h1>
	</div>

	<div id="ulDiv"
		style="overflow: hidden; position: absolute; height: 91%; width: 100%;">
		<div id="ulDiv1_2">
			<ul id="listUL" style="margin: 0;">
			</ul>
		</div>
	</div>
	<div style="float: right">
		<h1 id='iScrollElapsedTime' style="font-size: 8px; text-align: right"></h1>
	</div>
	<h1 id='procElapsedTime' style="font-size: 8px; text-align: right"></h1>
</div>


