  <div
		style="position: absolute; left: 10px; color: white; float: left; font-size: 44px;"
		id="back_contactDetail">
		<i class="icon-circle-arrow-left" />
	</div>
	<div
		style="position: absolute; right: 10px; color: white; float: left; font-size: 44px;">
		<i class="icon-trash icon-contactDel-click" />
	</div>
	<div>
		<h1
			style="text-align: center; margin-top: 7px; font-family: 'NanumGothicBold'; font-size: 40px;">상 세 내 용</h1>
	</div>
	<div id="contactDetailDiv">
		<div class="form-fields">
      <label class="contactLabel" for="In_NameKo">이름:</label>
      <input class="contactInput" type="text" placeholder="" id="In_NameKo" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_NameEn">영문이름:</label>
      <input class="contactInput" type="text" placeholder="" id="In_NameEn" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Phone">전화번호:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Phone" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Email">Email:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Email" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Dept">부서:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Dept" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Dept">직급:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Title" readonly>
    </div>

    <div class="form-fields">
      <label class="contactLabel" for="In_No">사원번호:</label>
      <input class="contactInput" type="text" placeholder="" id="In_No" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_HiredDate">입사일자:</label>
      <input class="contactInput" type="date" id="In_HiredDate" readonly>
    </div>
    <div class="form-fields">
    	
      <label class="contactLabel" for="In_BirthDate">생년월일:</label>
      <input class="contactInput" type="date" id="In_BirthDate" readonly >
    </div>
    
    <div class="form-fields">
      <label class="contactLabel" for="In_Sex">성별:</label>
      <select class="contactInputSel" id="In_Sex" disabled >
        <option>남</option>
        <option>여</option>
      </select>
    </div>
    <div class="form-fields">
    	<label class="contactLabel" for="In_HiredDate">사진:</label>
      <div id="In_Photo"></div>
      <input class="contactInput" type='file' id="In_imgFile" readonly  >
    </div>
    <div class="form-fields">
      <button id="Bt_contactUpdate" class="btn btn-info btn-block btn-contactUpdate">수 정 하 기</button>
    </div>
  </div>


