<div>
  <div
		style="position: absolute; left: 10px; color: white; float: left; font-size: 44px;"
		id="back_contactDetail">
		<i class="icon-circle-arrow-left" />
	</div>
	<div
		style="position: absolute; right: 10px; color: white; float: left; font-size: 44px;">
		<i class="icon-trash icon-contactDel-click" />
	</div>

	<div id="contactDetailDiv">
		<div>
		<img id="In_Photo"
			style="display: block; margin-left: auto; margin-right: auto; border-radius: 80px;"
			width=100 height=100 src="">
		</div>
		<div class="form-fields">
      <label class="contactLabel" for="In_NameKo">이름:</label>
      <input class="contactInput" type="text" placeholder="" id="In_NameKo" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_NameEn">영문이름:</label>
      <input class="contactInput" type="text" placeholder="" id="In_NameEn" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Phone">전화번호:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Phone" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Email">Email:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Email" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Dept">부서:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Dept" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_Dept">직급:</label>
      <input class="contactInput" type="text" placeholder="" id="In_Title" readonly>
    </div>

    <div class="form-fields">
      <label class="contactLabel" for="In_No">사원번호:</label>
      <input class="contactInput" type="text" placeholder="" id="In_No" readonly>
    </div>
    <div class="form-fields">
      <label class="contactLabel" for="In_HiredDate">입사일자:</label>
      <input class="contactInput" type="date" id="In_HiredDate" readonly>
    </div>
    <div class="form-fields">
    	
      <label class="contactLabel" for="In_BirthDate">생년월일:</label>
      <input class="contactInput" type="date" id="In_BirthDate" readonly >
    </div>
    
    <div class="form-fields">
      <label class="contactLabel" for="In_Sex">성별:</label>
      <select class="contactInputSel" id="In_Sex" disabled >
        <option>남</option>
        <option>여</option>
      </select>
    </div>
    
    <div class="form-fields" id="selGroup" >
      <label class="contactLabel" for="In_Group">그룹:</label>
      <select class="contactInputSel" id="In_Group" disabled >
        <option>일반</option>
        <option>관리자</option>
      </select>
    </div>
    
    <div class="form-fields addField">
      <label class="contactLabel" for="In_Opwd">기존 암호:</label>
      <input class="contactInput" type="password" placeholder="" id="In_Opwd" readonly>
    </div>
    <div class="form-fields updateField">
      <label class="contactLabel" for="In_Npwd1">새 암호 1:</label>
      <input class="contactInput" type="password" placeholder="" id="In_Npwd1" readonly>
    </div>
    <div class="form-fields updateField">
      <label class="contactLabel" for="In_Npwd2">새 암호 2:</label>
      <input class="contactInput" type="password" placeholder="" id="In_Npwd2" readonly>
    </div>

    
    
    <div class="form-fields updateField">
    	<label class="contactLabel" for="In_HiredDate">사진 파일 :</label>
      <input class="contactInput" type='file' id="In_imgFile" readonly  >
      <label>(파일 크기는 0.3 MB(300 kb) 이하로 올리세요.)</label>
    </div>
    <div class="form-fields">
      <button id="Bt_contactUpdate" class="btn btn-info btn-block btn-contactUpdate">수 정 하 기</button>
    </div>
  </div>
</div>

