<div id="menuList"
	style="overflow: hidden; position: absolute; height: 100%; width: 100%;">
	<div id="scroller">
		<ul id="lists" style="margin: 0;">
			<li
				style="overflow: hidden; height: 110px; background-color: #2e323e;"
				class="contantsList">
				<div style="color: white; float: left">
					<div style="float: left">
						<h3>연락처</h3>
					</div>
					<div
						style="position: absolute; right: 10px; color: white; float: right; font-size: 40px; margin-top: 30px;">
						<i class="icon-group" />
					</div>
				</div>
			</li>
			<li
				style="overflow: hidden; height: 110px; background-color: #3498db;"
				class="loadscheduler">
				<div style="color: white; float: left">
					<div style="float: left">
						<h3>일정관리</h3>
					</div>
					<div
						style="position: absolute; right: 10px; color: white; float: right; font-size: 40px; margin-top: 30px;">
						<i class="icon-calendar" />
					</div>
				</div>
			</li>
			<li
				style="overflow: hidden; height: 110px; background-color: #2ecc71;"
				class="test">
				<div style="color: white; float: left">
					<div style="float: left">
						<h3>공지사항</h3>
					</div>
					<div
						style="position: absolute; right: 10px; color: white; float: right; font-size: 40px; margin-top: 30px;">
						<i class="icon-exclamation-sign" />
					</div>
				</div>
			</li>
			<li
				style="overflow: hidden; height: 110px; background-color: #e67e22;"
				class="test">
				<div style="color: white; float: left">
					<div style="float: left">
						<h3>게시판</h3>
					</div>
					<div
						style="position: absolute; right: 10px; color: white; float: right; font-size: 40px; margin-top: 30px;">
						<i class="icon-desktop" />
					</div>
				</div>
			</li>
			<li
				style="overflow: hidden; height: 110px; background-color: #e74c3c"
				class="test">
				<div style="color: white; float: left">
					<div style="float: left">
						<h3>메신저</h3>
					</div>
					<div
						style="position: absolute; right: 10px; color: white; float: right; font-size: 40px; margin-top: 30px;">
						<i class="icon-comment" />
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>