<div class="row">
	<div class="col-6 bg-primary" style="margin: 0">
		<div class="dashboard-container text-center">
			<i class="icon-envelope icon-white icon-4x detailBtn"
				style="outline: 0"></i>
			<!-- <span class="text-right dashboard-number">12</span> -->
			<h4 class="text-left dashboard-header-bottom detailBtn"
				style="outline: 0">Messages</h4>
		</div>
	</div>
	<div class="col-3 bg-info" style="margin: 0">
		<div class="dashboard-container text-center">
			<i class="icon-comment icon-white icon-4x detailBtn"
				style="outline: 0"></i>
			<h4 class="text-left dashboard-header-bottom detailBtn"
				style="outline: 0">Chat</h4>
		</div>
	</div>
	<div class="col-3 bg-success" style="margin: 0">
		<div class="dashboard-container text-center">
			<i class="icon-youtube-play icon-white icon-4x detailBtn"
				style="outline: 0"></i>
			<h4 class="text-left dashboard-header-bottom detailBtn"
				style="outline: 0">Videos</h4>
		</div>
	</div>
	<div class="col-4 bg-danger" style="margin: 0">
		<div class="dashboard-container text-center">
			<i class="icon-gamepad icon-white icon-4x detailBtn"
				style="outline: 0"></i>
			<h4 class="text-left dashboard-header-bottom detailBtn"
				style="outline: 0">Games</h4>
		</div>
	</div>
		<div>
		<h1 id='detailElapsedTime' style="font-size: 12px"></h1>
	</div>
</div>