<div class="row login">
	<div class="row">
		<div class="col-1"></div>
	</div>
	<div class="row">
		<div class="col-1"></div>
	</div>
	<div class="row">
		<div class="col-1"></div>
	</div>
	<h2 class="text-center" style="font-size: 40px;">에이디플로우</h2>
	<div class="row">
		<div class="col-1"></div>
	</div>
	<div class="row">
		<div class="col-1"></div>
	</div>
	<div class="form-fields">
		<label for="email" style="font-size: 18px;"><i
			class="icon-user"></i>&nbsp;&nbsp;아이디 </label> <input type="email" name=""
			id="email" value="" class="input-block">
	</div>
	<div class="form-fields">
		<label for="password" style="font-size: 18px;"><i
			class="icon-lock"></i>&nbsp;&nbsp;패스워드 </label> <input type="password"
			name="" id="password" value="" class="input-block">
	</div>
	<!-- <div class="checkbox-fields">
						<label for="check"> <input type="checkbox" id="check">
							아이디저장
						</label>
					</div> -->
	<div class="row">
		<div class="col-1"></div>
	</div>
	<a id="loginBtn" style="font-size: 18px;"
		class="btn btn-success btn-block">로그인</a> <br> <br> <label
		id="loginElapsedTime" class="text-center" style="font-size: 8px" />
</div>