<div class="scheduler_wrapper" style="display: block;">
	
	<div class="scheduler_AppBody" >
			<!-- This is static header, it will be shown always -->
			
			<div class="scheduler_header" >
				<!-- h4>daily Scheduler</h4-->
				<h4 class="header_today"></h4>
			</div> <!--  end of scheduler_header -->
			
			<!-- This is a placeholder for dynamic page content -->
			
			<div  class="scheduler_pagePort">
				<div class="myscheduler_wrapper">
					<label id="schedulerElapsedTime" class="text-center" style="font-size: 12px" />
					<ul class="cardul_workoutside">
						<li id="workoutside_first">외근 현황</li>						
					</ul>					
					<ul class="cardul_dayoff">
					<li id="dayoff_first">휴가 현황</li>
					</ul>					
					<ul class="cardul_longproject">
					<li id="longproject_first">장기 프로젝트</li>											
					</ul>
					<div class="bottom_beforediv">
																
					</div>
				</div>	  <!-- myscheduler_wrapper end -->
				
			
			</div> <!--  scheduler_pagePort end -->
			 
			
			 <!-- script type="text/template" id="schedulerListTemplate">
      			  <span><%= title %></span><button class="edit">Edit</button>
				  <button class="delete">Delete</button>
   			 </script-->
   			 
			<div class="scheduler_footer" >
				<div class="footer_btngroup">
					<div class="footerlayout_center">
					<ul class="btn-group btn-group-square">
					   <li><a href="#" class="btn btn-success btn_inputScheduler">입력</a></li>
					   <li><a href="#" class="btn btn-success  btn_modifyScheduler">수정</a></li>
					   <li><a href="#" class="btn btn-success  btn_deleteScheduler">삭제</a></li>
					</ul>	
					</div>  <!--  end of footerlayout_center -->
				</div> <!--  end of footer_btngroup -->
			</div> <!--  end of scheduler_footer -->
		
		</div>  <!--  end of scheduler_AppBody -->
</div> <!--  end of scheduler_wrapper -->