<div class="scheduler_wrapper" style="display: block;">
	
	<div class="scheduler_AppBody" >
			<!-- This is static header, it will be shown always -->
			
			<div class="scheduler_header" >
				<div style="position: absolute; left: 10px; color: white; float: left; font-size: 44px;"
			id="backbtnOnscheduler">
			<!-- i class="icon-circle-arrow-left" /-->
			<i class="icon-chevron-left icon-2"></i>
			
			</div>
			
				<!-- h4>daily Scheduler</h4-->
				<div class="scheduler_textHeader">
				<h4 class="header_today"></h4>
				</div>
			</div> <!--  end of scheduler_header -->
			
			<!-- This is a placeholder for dynamic page content -->
			
			<div  class="scheduler_pagePort">
				<div class="myscheduler_wrapper">		
				<!-- div id="iscrolldivout">	
				<div id="iscrolldiv"-->	
						<ul class="cardul_workoutside">
							<li id="workoutside_first">외근 현황</li>						
						</ul>					
						<ul class="cardul_dayoff">
						<li id="dayoff_first">휴가 현황</li>
						</ul>					
						<ul class="cardul_longproject">
						<li id="longproject_first">장기 프로젝트</li>											
						</ul>
						<label id="schedulerElapsedTime" class="text-center" style="font-size: 12px" />
						<div class="bottom_beforediv">
																	
						</div>
					<!-- /div>	
					</div-->	
				</div>	  <!-- myscheduler_wrapper end -->
				
			
			</div> <!--  scheduler_pagePort end -->
			 
			
			 <!-- script type="text/template" id="schedulerListTemplate">
      			  <span><%= title %></span><button class="edit">Edit</button>
				  <button class="delete">Delete</button>
   			 </script-->
   			 
			<div class="scheduler_footer" >
				<div class="footer_btngroup">
					<div class="footerlayout_center">
					<ul class="btn-group btn-group-square">
					   <li><a href="#" class="btn btn-success btn_inputScheduler"><i class="icon-calendar-empty"></i>입력</a></li>
					   <li><a href="#" class="btn btn-success  btn_modifyScheduler"><i class="icon-pencil"></i>수정</a></li>
					   <li><a href="#" class="btn btn-success  btn_deleteScheduler"><i class="icon-trash"></i>삭제</a></li>
					</ul>	
					</div>  <!--  end of footerlayout_center -->
				</div> <!--  end of footer_btngroup -->
			</div> <!--  end of scheduler_footer -->
		
			<div id="popUpDiv">
			
	    	<ul class="popupmodilistUl">
	    	<!-- li id="popupmodilistUl_workoutside" class="workoutside_popupli">외근</li>
	    	<li id="popupmodilistUl_dayoff" class="dayoff_poopupli">휴가</li>
	    	<li id="popupmodilistUl_longproject" class="longproject_popupli">장기프로젝트</li-->
	    	
	    	</ul>
	    	<a href="#" class="btn btn-success  btn_modifyScheduler_ok"><i class="icon-pencil"></i>닫기</a>
			</div>
		</div>  <!--  end of scheduler_AppBody -->
</div> <!--  end of scheduler_wrapper -->