

.contactLabel {
	margin-left:10px;
	width:100px;
	float: left; 
	line-height: 1.7;
}

#contactDetailDiv .contactInput {
	position:relative;
left:10px;
font-weight: bold;
background-color: #1B598A;
color: #FFF;
}



