@CHARSET "UTF-8";
.scheduler_wrapper{
	background-color: #FFF; 
	height:100%;
	max-height:100%; 
}

.scheduler_AppBody {
	width: 100%;
	position: absolute;	
	width: 100%;
	/*min-height: 100%; eylee layout modifying..*/
	height:100%;
	max-height:100%; 
	/*background-color: #3498d9; */
	background-color: #EFEFF4;
	margin: 0 auto;
	/*overflow: hidden;
	overflow-y: auto;
	*/
}

.scheduler_header {	
	position: absolute;
	display: block;
	top:0px;
	
	 height: 38px;
	line-height: 10%;
	width: 100%;
	text-align: center;
	z-index: 5;
	/*background-color: #2d313d;
	 position: fixed;
	 height: 38px;
	 height: 10%;	
	 */
	background-color:#E32426;
	color: #FFF;
	font-size: 16px;
	border-bottom: 1px solid #BBBBBB;
}

.addscheduler_header{
	position: absolute;
	display: block;
	top:0px;
	height: 38px;
	line-height: 10%;
	width: 100%;
	text-align: center;
	/*background-color: #2d313d;
	height: 38px;
	position: absolute;
	 */
	background-color:#E32426;
	color: #FFF;
	font-size: 16px;
	border-bottom: 1px solid #BBBBBB;
}

#addscheduler_footer{
	display: block;
}
.scheduler_footer {	
	clear:both;
	background-color: #EFEFF4;
	position: absolute;
	 /* Footer am Ende des Browsers festsetzen */
	height:50px;
	display: block;
	width: 100%;
	bottom: 0;
	z-index: 4;
	margin:0px;
	left:0px;
	/*background: #EFEFF4; 
	background-color: #EFEFF4;
	height: 38px;
	bottom: 0;
	height: 10%;
		bottom: -1px;
	*/
	
}

.footer_btngroup{	
	position: relative;  
}

.footerlayout_center{
  position: absolute;
  margin: auto;
  width: 80%;
  top: 0; left: 0; bottom: 0; right: 0;
  /*
  margin: auto;
  */
  width: 80%;
  top: 0; left: 0; bottom: 0; right: 0;
}
.footerlayout_center .btn-group li .btn {
	width: 80px;
	height: 33px;
}
.dashboard-container {
	color: #FFF;
}

.scheduler_pagePort {
	position: fixed;
	top:40px;
	bottom:50px;
	overflow:auto;
	/*
	position: absolute;
	position: relative;
	top:39px;
	height:80%;
	height:auto;
	*/	
	
	display:block;
	height:100%;
	max-height:100%; 
	color: #9098A0;
	width: 100%;
	z-index: 3;
	overflow:auto;
}

/*
card feelings..
*/
.myscheduler_wrapper{	
	background-color: #EFEFF4;		
	display:block;
	height:100%;
	max-height:100%; 
	/*
	position: relative;
	overflow:auto;
	*/
}

.addscheduler_wrapper{
	background-color: #EFEFF4;
	position: relative;  
	top:40px;
	overflow:auto;
	display:block;
	height:100%;
	max-height:100%; 
}
.cardul_workoutside{
	
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
	padding:0px;
	width:100%;
	background: #FFFFFF;
}

.cardul_workoutside li{	
	padding-top:6px ;
	margin-left: 10px;
	padding-bottom:6px;
	padding-left:9px;
	font-size: 13px;
	font-weight:normal;
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
}

#workoutside_first{
	padding-top:10px ;
	margin-left: 10px;
	padding-bottom:10px;
	padding-left:9px;
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
	font-size: 25px;
	font-weight:bold;
	color: #262C34;
}


/*
cardul_dayoff
*/


.cardul_dayoff{
	
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
	padding:0px;
	width:100%;
	background: #FFFFFF;
}

.cardul_dayoff li{	
	padding-top:6px ;
	margin-left: 10px;
	padding-bottom:6px;
	padding-left:9px;
	font-size: 13px;
	font-weight:normal;
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
}

#dayoff_first{
	padding-top:10px ;
	margin-left: 10px;
	padding-bottom:10px;
	padding-left:9px;
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
	font-size: 25px;
	font-weight:bold;
	color: #262C34;
}



/*
cardul_longproject
*/

.bottom_beforediv{
	height:100px;
}

.cardul_longproject{
	
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 30px;
	/*margin-bottom: 40px;*/
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
	padding:0px;
	width:100%;
	background: #FFFFFF;
	
	padding-bottom: 0px;
}

.cardul_longproject li{	
	padding-top:6px ;
	margin-left: 10px;
	padding-bottom:6px;
	padding-left:9px;
	font-size: 13px;
	font-weight:normal;
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
}

#longproject_first{
	padding-top:10px ;
	margin-left: 10px;
	padding-bottom:10px;
	padding-left:9px;
	border-top: 1px solid #E6E5E8;
	border-bottom: 1px solid #E6E5E8;	
	font-size: 25px;
	font-weight:bold;
	color: #262C34;
}



/*
 css addscheduler style
 */

 .addscheduler_header{
	position: absolute;
	top:0px;
	height: 38px;
	line-height: 38px;
	width: 100%;	
	/*background-color: #2d313d; */
	background-color:#E32426;
	color: #FFF;
	font-size: 16px;
	border-bottom: 1px solid #BBBBBB;
}
/*
   .addscheduler_header a,  .addscheduler_header h4{
	  display: inline;
	  float: left;
  }
  */
.addscheduler_header a.btn_inputCancelsc{
	  display: inline;
	  float: left;
}
  
  
.addscheduler_header h4{
	  display: inline;	 
	  text-align: center;
}


.addscheduler_header a.btn_inputAddsc{
	  display: inline;
	  float: right;
}

.scheduler_calendar{
	width: 100%;
}

.as_categoryfield{
	width: 100%;
}
/*
.addevent{
	position: relative;
	width: 100%;
}
*/