<div>
	<div
		style="position: absolute; left: 10px; color: white; float: left; font-size: 44px;"
		id="backContactList">
		<i class="icon-circle-arrow-left" />
	</div>
	<h1
		style="text-align: center; margin-top: 7px; font-family: 'NanumGothicBold'; font-size: 40px;">&nbsp;</h1>
	<div>
		<img
			style="display: block; margin-left: auto; margin-right: auto; border-radius: 80px;"
			width=100 height=100 src="images/amy_jones.jpg">
		<h1 style="text-align: center; margin-top: 7px; font-size: 25px;">박택영</h1>
	</div>


	<div style="float: right">
		<h1 id='elapsedTime' style="font-size: 8px; text-align: right"></h1>
	</div>
</div>