<div>
	<h1
		style="text-align: center; margin-top: 7px; font-family: 'NanumGothicBold'; font-size: 40px;">연락처</h1>
	<div id="wrapper"
		style="overflow: hidden; position: absolute; height: 91%; width: 100%;">
		<div id="scroller">
			<ul id="thelist" style="margin: 0;">
			</ul>
		</div>
	</div>
	<a href="http://www.britblog.com/" style='display: none;'><img
		src="data:image/gif;base64,R0lGODlhUAAPAKIAAAsLav///88PD9WqsYmApmZmZtZfYmdakyH5BAQUAP8ALAAAAABQAA8AAAPb
WLrc/jDKSVe4OOvNu/9gqARDSRBHegyGMahqO4R0bQcjIQ8E4BMCQc930JluyGRmdAAcdiigMLVr
ApTYWy5FKM1IQe+Mp+L4rphz+qIOBAUYeCY4p2tGrJZeH9y79mZsawFoaIRxF3JyiYxuHiMGb5KT
kpFvZj4ZbYeCiXaOiKBwnxh4fnt9e3ktgZyHhrChinONs3cFAShFF2JhvCZlG5uchYNun5eedRxM
AF15XEFRXgZWWdciuM8GCmdSQ84lLQfY5R14wDB5Lyon4ubwS7jx9NcV9/j5+g4JADs=
"
		alt="British Blog Directory" width="80" height="15"
		style="z-index: 100;" /></a>
	<h1 id='iScrollElapsedTime' style="font-size: 12px"></h1>

</div>