<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>postion</title>
<style type=""text/css">
.box1 {
	width: 400px;
	height: 250px;
	background-color: #f0ff76;
	position: relative;
	left: 50px;
} /*여기에 left, top으로 위치를 조절해보세요*/
.box2 {
	width: 300px;
	height: 50px;
	color: white;
	background-color: #003cfe;
	position: fixed;
	left: 50px;
	top: 50px;
}

.box3 {
	width: 300px;
	height: 50px;
	color: white;
	background-color: #003cfe;
	position: absolute;
	left: 50px;
	top: 150px;
}
</style>
</head>
<body>
	<div class="box1">
		box1 - contentA
		<div class="box2">box2 - text box 01</div>
		<div class="box3">box3 - text box 02</div>
	</div>
</body>
</html>




