@CHARSET "EUC-KR";
#main_layout {$j( "#list" ).append( "<li>리스트1</li>" );
$j( "#list" ).append( "<li>리스트2</li>" );
$j( "#list" ).listview( "refresh" );
		for ( var i = 0; i < items.length; i++) {	width:  100%;
	height: 100%;
  	margin: 0px;
	padding: 0;  		
}

#shopping_layout {
	width:  100%;
	height: 100%;
  	margin: 0px;
	padding: 0;  		
}
