
/* Stylesheet content from css/scheduler.css in folder common */
@CHARSET "UTF-8";
.scheduler_wrapper{
	background-color: #FFF; 
}

#scheduler_AppBody {
	width: 100%;
	position: absolute;
	min-height: 100%;
	width: 100%;
	background-color: #3498d9;
	/*background-color: #FFF; */
	margin: 0 auto;
	/*overflow: hidden;
	overflow-y: auto;
	*/
}

#scheduler_header {
	position: absolute;
	top:0px;
	height: 38px;
	line-height: 38px;
	width: 100%;
	text-align: center;
	background-color: #2d313d;
	color: #FFF;
	font-size: 16px;
	border-bottom: 1px solid #BBBBBB;
}

#scheduler_pagePort {
	position: absolute;
	top:39px;

	width: 100%;
}

#scheduler_footer {
	position: absolute;	

	bottom: 0; /* Footer am Ende des Browsers festsetzen */
	height: 38px;
	width: 100%;
	background: #2d313d;
	text-align: center;
}

.dashboard-container {
	color: #FFF;
}